<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - Archieve</title>
</head>
<body>
<div id="app" v-cloak>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container eco-logo">
			<img class="small" style="margin-right: 5px; border-radius: 3px;" src="em-icon.png" />
			<h3>Ecosystem Mail</h3>
		</div>
		<div class = "search-container">
			<form class="search-form" role="search" action="" method="get">
				<input type="text" v-bind:placeholder="$t('search')" class="search-input"/>
			</form>
		</div>
		<div class = "account-point-container"><a href="" class="icon-post" id="member_point">100</a></div>
		<div class="account-container">
			<div class="account-inner">
				<div style="text-align: right;"><p id="account_name">Name Surname</p></div>
				<div class="logout-setting-container">
					<button class="login-set">{{$t("buttons.logout_button")}}</button>
					<a href="myprofile.html" class="login-set">{{$t("buttons.setting")}}</a>
				</div>
			</div>
			<div id="account-img-cont"><img class="small" src="Eco-icon.png"/></div>
		</div>
	</div>
</div>
<div style="background-color:transparent;" class="middle">
	<div class="left-menu-container">
		<div class="left-menu-inner">
			<div class="scroll-container" aria-labelledby="left-scroll">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
					</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
			</div><!--scroll container-->
		</div><!--left-menu-inner-->
	</div><!--left-menu-container-->
	<div class="popup-container">
		<div class="popup-inner">
			<div id="inbox" class="inbox-container">
				<div class="inbox-mail-container inbox-menu">
					<div class="inbox-float-left"><!--Float left-->
					<!--Checkbox-->
						<div class="container-checkbox">
							<div class="checkbox-inner flex-100-mid">
								<div role="checkbox" aria-labelledby="check_all" aria-checked="false" class="checkbox"></div>
							</div>
						</div>
					<!--Checkbox end-->
						<div class="inbox-button-container">
							<div class="flex-100-mid"><button id="spam" class="menu-button">{{$t("buttons.spam")}}</button></div>
							<div class="flex-100-mid"><button id="trash" class="menu-button">{{$t("buttons.delete")}}</button></div>
							<div class="flex-100-mid"><button id="archive" class="menu-button">{{$t("buttons.arch")}}</button></div>
						</div>
						<!--Menu buttons end Selected text-->
					</div>
					<div class="inbox-float-right"><!--Float right-->
						<p id="selected_mail">2 Selected</p>
						<!--Selected text end Mail counter-->
						<div class="inbox-mail-counter-container flex-100-mid">
							<p id="display_mail">1-50</p>/<p id="total_mail">200</p>
						</div>
						<!--Mail counter end Next prev Button-->
						<div class="next-prev-button-container flex-100-mid">
							<div><button id="prev-mail" class="menu-button icon-angel-left-thin"></button></div>
							<div><button id="next-mail" class="menu-button icon-angel-right-thin"></button></div>
							</div>
						<!--Next prev button end-->
						</div>
				</div>
				<div class="scroll-container" aria-labelledby="mail-scroll">
						<!---Inbox Mail-->
					<div class="inbox-mail-container inbox-mail">
						<div role="mail-button" aria-labelledby="Jane Clawings" class="wd-695 flex-100-mid">
							<div class="container-checkbox">
								<div class="checkbox-inner flex-100-mid"><!--checkbox-->
									<div role="checkbox" aria-labelledby="ch1" aria-checked="false" class="checkbox"></div>
								</div>
								</div>
							<div class="container-mail-img flex-100-mid"><img class="mail_img small" src="em-icon.png"/></div>
								<div class="wd-625">
									<h4 class="mail-sender">Jane Clawings</h4>
									<p class="mail-content">And is blessed. Waters gathered it ening signs lights open fly on sky that</p>
								</div><!--iç 1.Gönderen-başlık -->
								<div class="mail-date-container"><p class="mail-date">26 Feb</p></div> <!--2.tarih-->
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nu">
	<button id="nu-but">>></button>
</div>
<div class="mi">
	<div class="chi"><button id="chi-but">X</button></div>
	<div style="overflow:auto;">
		<div class="left-menu-inner">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
				</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
		</div><!--left-menu-inner-->
	</div>
</div>
</div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
