<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail-Home</title>
</head>
<body>
<div class="login-container" id="app" v-cloak>
	<div class="login-img-cont"><img class="huge-2" src="Mail-Picture.png" /></div>
    <div class="login-text-cont">
    	<h1 class="mb10">{{$t("login")}}</h1>
        <p class="topnav-text mt0 mb10">{{$t("login_text")}}</p>
       <div class="connect-linkedin-container mb50"><button id="connect-linkedin" class="index-button" >{{$t("buttons.linkedin")}}</button></div>
        <a href="">{{$t("links.terms")}}</a>
    </div>	
</div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
