<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/quill.bubble.min.css" />
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/quill.snow.min.css" />
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/quill-emoji-master/dist/quill-emoji.css" />
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - Mail Content</title>
</head>
<body>
<div id="app" v-cloak>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container eco-logo">
			<img class="small" style="margin-right: 5px; border-radius: 3px;" src="em-icon.png" />
			<h3>Ecosystem Mail</h3>
		</div>
		<div class = "search-container">
			<form class="search-form" role="search" action="" method="get">
				<input type="text" v-bind:placeholder="$t('search')" class="search-input"/>
			</form>
		</div>
		<div class = "account-point-container"><a href="" class="icon-post" id="member_point">100</a></div>
		<div class="account-container">
			<div class="account-inner">
				<div style="text-align: right;"><p id="account_name">Name Surname</p></div>
				<div class="logout-setting-container">
					<button class="login-set">{{$t("buttons.logout_button")}}</button>
					<a href="myprofile.html" class="login-set">{{$t("buttons.setting")}}</a>
				</div>
			</div>
			<div id="account-img-cont"><img class="small" src="Eco-icon.png"/></div>
		</div>
	</div>
</div>
<div style="background-color:transparent;" class="middle">
	<div class="left-menu-container">
		<div class="left-menu-inner">
			<div class="scroll-container" aria-labelledby="left-scroll">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
					</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
			</div><!--scroll container-->
		</div><!--left-menu-inner-->
	</div><!--left-menu-container-->
	<div class="popup-container">
		<div class="popup-inner">
			<div id="inbox" class="inbox-container">
 				 <div class="scroll-container" aria-labelledby="mailbox-scroll">
					<div class="mail-header-container">
						<h1 id="mail_header">
							Millennial investors were pilling into AT&T in anticipation its big merger with Time Werner would get approved
						</h1>
					</div>
					<div class="ql-editor mail-content-container">
						<div>
							<img src="505416.jpg"/>
							<p class="ql-size-huge">Data from the free-treading app</p>
						</div>
					</div>
					<div class="from-recipient-container">
						<div class="from-container">
							<div class="from-inner">
								<div style="padding-bottom:15px;"><p id="from_text">{{$t("from")}}</p></div>
								<div class="from-account-container">
									<div style="padding-right:10px; user-select:none;"><img class="small" src="Eco-icon.png"/></div>
									<div>
										<p id="from_account">Stephen Garza</p>
										<p id="from_date">14 Feb 2018 09:20</p>
									</div>
								</div>
							</div>
							<div class="from-button-container">
								<div class="from-button-inner">
									<button id="trash_mail" class="menu-button">{{$t("buttons.delete")}}</button>
									<button id="spam_mail" class="menu-button">{{$t("buttons.spam")}}</button>
									<button id="archive_mail" class="menu-button">{{$t("buttons.arch")}}</button>
								</div>
								<div><button id="share_linkedin">{{$t("buttons.share")}}</button></div>
							</div>
						</div><!--from-container-->
						<div class="recipients-container">
							<div style="padding-bottom:10px;"><p class="txt-up-bl">{{$t("recipients")}}</p></div>
							<div class="recipients-types-container">
								<div class="recipients">
									<div class="recipient-type">{{$t("recipient_types.job")}}</div>
									<div class="recipient-name">{{$t("recipient_name.engineer")}}</div>
								</div>
								<div class="recipients">
									<div class="recipient-type">{{$t("recipient_types.gender")}}</div>
									<div class="recipient-name">{{$t("recipient_name.male")}}</div>
								</div>
								<div class="recipients">
									<div class="recipient-type">{{$t("recipient_types.age")}}</div>
									<div class="recipient-name">18-24 years old</div>
								</div>   
							</div><!--recipients-types-container-->
						</div><!--recipients-container-->
					</div><!--from-recipent-container-->
					<div class="replies-container">
						<div class="replies-counter">
							<div class="replies-counter-inner">
								<div><p class="txt-up-bl">{{$t("replies")}}</p></div>
								<div><p id="reply-counter">443</p></div>
							</div>
						</div><!--replies-counter-->
							<div class="reply-container">
								<div class="reply-img-container"><img class="small" src="Eco-icon.png"/></div>
								<div style="width:100%;">
									<div class="reply-upper">
										<div class="reply-sender"><p>Lisa</p></div><!--reply-sender-->
										<div class="reply-date">24 Feb 2019 - 09:20</div><!--date-->
										<div class="reply-report"><a href="">{{$t("buttons.report")}}</a></div><!--report-->
									</div>
									<div class="reply-message">Millennial investors were pilling into AT&T </div><!--message-->
									<div class="reply-button-container">
										<div><button class="reply-button-reply" aria-checked="false">{{$t("buttons.reply")}}</button></div>
										<button class="view-reply-button" aria-checked="false" role="button" :key="10" v-on:click="count">{{$t('view_all', {view_counter:'1'})}}</button>
									</div><!--reply-button-container-->
									<div class="reply-form-container">
										<form class="reply-form">
											<textarea class="reply-textarea" v-bind:placeholder="$t('your_rep')"></textarea>
											<div class="reply-form-button"><button class="reply-button icon-reload-thin">{{$t("buttons.reply")}}</button></div>
										</form>
									</div><!--reply-form-container-->
									
									
									<div class="reply-container">
								<div class="reply-img-container"><img class="small" src="Eco-icon.png"/></div>
								<div style="width:100%;">
									<div class="reply-upper">
										<div class="reply-sender"><p>Lisa</p></div><!--reply-sender-->
										<div class="reply-date">24 Feb 2019 - 09:20</div><!--date-->
										<div class="reply-report"><a href="">{{$t("buttons.report")}}</a></div><!--report-->
									</div>
									<div class="reply-message">Millennial investors were pilling into AT&T in anticipation its big merger with Time Werner would get approved</div><!--message-->
									<div class="reply-button-container">
										<div><button class="reply-button-reply" aria-checked="false">{{$t("buttons.reply")}}</button></div>
										<div class="view-reply-button" aria-checked="false" role="button">Show</div>
									</div><!--reply-button-container-->
									<div class="reply-form-container">
										<form class="reply-form">
											<textarea class="reply-textarea" v-bind:placeholder="$t('your_rep')"></textarea>
											<div class="reply-form-button"><button class="reply-button icon-reload-thin">{{$t("buttons.reply")}}</button></div>
										</form>
									</div><!--reply-form-container-->
								</div>
							</div><!--reply-container-->   

								</div>
							</div><!--reply-container-ASIL-->

						<div class="reply-form-container">
							<form class="reply-form">
								<textarea id="new_reply" class="reply-textarea" v-bind:placeholder="$t('your_rep')"></textarea>
<div class="reply-form-button"><button class="reply-button icon-reload-thin">{{$t("buttons.reply")}}</button></div>
							</form>
						</div><!--reply-form-container-->
						<div class="reply-warning-container">{{$t("reply_warn")}}</div>
					</div><!--replies-container-->
				</div><!--scroll-container-->
			</div><!--inbox-->
		</div><!--popup-inner-->
	</div><!--popup-container-->
</div><!--Middle-->
<div class="nu">
	<button id="nu-but">>></button>
</div>
<div class="mi">
	<div class="chi"><button id="chi-but">X</button></div>
	<div style="overflow:auto;">
		<div class="left-menu-inner">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
				</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
		</div><!--left-menu-inner-->
	</div>
</div>
</div><!--id=app-->
<!--===========================================================================-->
<script src="dist/modules/quill.js"></script>
<!--===========================================================================-->
<script src="dist/quill-emoji-master/dist/quill-emoji.js"></script>
<!--===========================================================================-->
<script src="dist/modules/image-resize.min.js"></script>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
