<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - MyProfile</title>
</head>
<body>
<div id="app" v-cloak>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container eco-logo">
			<img class="small" style="margin-right: 5px; border-radius: 3px;" src="em-icon.png" />
			<h3>Ecosystem Mail</h3>
		</div>
		<div class = "search-container">
			<form class="search-form" role="search" action="" method="get">
				<input type="text" v-bind:placeholder="$t('search')" class="search-input"/>
			</form>
		</div>
		<div class = "account-point-container"><a href="" class="icon-post" id="member_point">100</a></div>
		<div class="account-container">
			<div class="account-inner">
				<div style="text-align: right;"><p id="account_name">Name Surname</p></div>
				<div class="logout-setting-container">
					<button class="login-set">{{$t("buttons.logout_button")}}</button>
					<a href="myprofile.html" class="login-set">{{$t("buttons.setting")}}</a>
				</div>
			</div>
			<div id="account-img-cont"><img class="small" src="Eco-icon.png"/></div>
		</div>
	</div>
</div>
<div style="background-color:transparent;" class="middle">
	<div class="left-menu-container">
		<div class="left-menu-inner">
			<div class="scroll-container" aria-labelledby="left-scroll">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
					</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
			</div><!--scroll container-->
		</div><!--left-menu-inner-->
	</div><!--left-menu-container-->
	<div class="popup-container">
		<div class="popup-inner">
			<div id="settings" class="inbox-container">
				<div class="scroll-container" aria-labelledby="mailbox-scroll">
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2>{{$t("my_profile")}}</h2></div>
						<div class="myprofile-header-info">
							<p class="profile-info">{{$t("steps_info.info1")}}</p>
							<p class="profile-info-bold">{{$t("steps_info.info2")}}</p>
						</div>
					</div>
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2 class="blue-header">{{$t("steps.step_1")}}</h2></div>
						<div class="flex-order">
							<div class="info-container wd-100p">
								<div><p>Year of birth</p></div>
								<div><p class="token">20<span class="icon-post"></span></p></div>
							</div>
							<div class="select-cont wd-100p"><select class="step-select" name="year"><option>Select</option></select></div>
						</div>
						<div class="flex-order">
							<div class="info-container wd-100p">
								<div><p>Horoscope sign</p></div>
								<div><p class="token">20<span class="icon-post"></span></p></div>
							</div>
							<div class="select-cont wd-100p"><select class="step-select" name="sign"><option>Select</option></select></div>
						</div>
						<div class="flex-order">
							<div class="info-container wd-100p">
								<div><p>Gender</p></div>
							<div><p class="token">20<span class="icon-post"></span></p></div>
							</div>
							<div class="select-cont wd-100p"><select class="step-select" name="gender"><option>Select</option></select></div>
						</div>
						<div class="flex-order">
							<div class="info-container wd-100p">
								<div><p>Country</p></div>
								<div><p class="token">20<span class="icon-post"></span></p></div>
							</div>
							<div class="select-cont wd-100p"><select class="step-select" name="country"><option>Select</option></select></div>
						</div>
						<div class="flex-order">
							<div class="info-container wd-100p">
								<div><p>City</p></div>
								<div><p class="token">20<span class="icon-post"></span></p></div>
							</div>
							<div class="select-cont wd-100p"><select class="step-select" name="city"><option>Select</option></select></div>
						</div>
					</div>
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2 class="yellow-header">{{$t("steps.step_2")}}</h2></div>
					</div>
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2 class="purple-header">{{$t("steps.step_3")}}</h2></div>
					</div>
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2 class="green-header">{{$t("steps.step_4")}}</h2></div>
					</div>
					<div class="mail-profile-container">
						<div class="profile-header-container"><h2 class="green-header">Bilmem ne Ayarları</h2></div>
						<div class="flex-order">
							<select class="step-select" v-model="change_lang">
								<option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
							</select>
						</div>
					</div>
					<div class="mail-profile-container">
						<div class="save-button-container"><button id="save_button" v-on:click="save">{{$t("buttons.save")}}</button></div>
					</div>
				</div><!--scroll-container-->
			</div><!--inbox-->
		</div><!--popup-inner-->
	</div><!--popup-container-->
</div>
<div class="nu">
	<button id="nu-but">>></button>
</div>
<div class="mi">
	<div class="chi"><button id="chi-but">X</button></div>
	<div style="overflow:auto;">
		<div class="left-menu-inner">
				<div class="create-button-container"><a href="newmail.html" class="create-button">{{$t("buttons.create")}}</a></div>
				<div class="menu-button-container" role="navigation">
					<div class="menu-button-inner">
				<a href="inbox.html" class="menu-button icon-download-thin unread-mail" data-placeholder="12">{{$t("buttons.inbox")}}</a></div>
					<div class="menu-button-inner">
						<a href="ecosystem.html" class="menu-button icon-database-thin">{{$t("buttons.ecosystem")}}</a></div>
					<div class="menu-button-inner">
						<a href="sent.html" class="menu-button icon-upload-thin">{{$t("buttons.sent")}}</a></div>
					<div class="menu-button-inner">
						<a href="draft.html" class="menu-button icon-cloud-upload-thin">{{$t("buttons.draft")}}</a></div>
					<div class="menu-button-inner">
						<a href="archive.html" class="menu-button icon-archive-box-thin">{{$t("buttons.archive")}}</a></div>
					<div class="menu-button-inner">
						<a href="trash.html" class="menu-button icon-trash-can-thin">{{$t("buttons.trash")}}</a></div>
				</div><!--menu-button-container-->
				<div class="about-container">
					<a href="">{{$t("links.about")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<a href="">{{$t("links.contact")}}</a>
					<p>2018 &copy; Mentornity</p>
				</div><!--about-container-->
		</div><!--left-menu-inner-->
	</div>
</div>
</div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
