<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css">
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/quill.bubble.min.css">
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/quill.snow.min.css">
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/quill-emoji-master/dist/quill-emoji.css">
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - New Mail</title>
</head>
<div id="app" v-cloak>
<body>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container eco-logo">
			<img class="small" style="margin-right: 5px; border-radius: 3px;" src="em-icon.png" />
			<h3>Ecosystem Mail</h3>
		</div>
		<div class = "search-container">
			<form class="search-form" role="search" action="" method="get">
				<input type="text" v-bind:placeholder="$t('search')" class="search-input"/>
			</form>
		</div>
		<div class = "account-point-container"><a href="" class="icon-post" id="member_point">100</a></div>
		<div class="account-container">
			<div class="account-inner">
				<div style="text-align: right;"><p id="account_name">Name Surname</p></div>
				<div class="logout-setting-container">
					<button class="login-set">{{$t("buttons.logout_button")}}</button>
					<a href="myprofile.html" class="login-set">{{$t("buttons.setting")}}</a>
				</div>
			</div>
			<div id="account-img-cont"><img class="small" src="Eco-icon.png"/></div>
		</div>
	</div>
</div>
<div class="create-mail-container">
	<div class="mr-3w">
		<div class="new-mail-container">
			<div class="new-mail-inner">
				<div class="mail-options-cont">
					<div class="mail-options">
						<div style="display:flex;">
							<a href="inbox.html" class="return-inbox icon-angel-left-thin">{{$t("buttons.inbox")}}</a>
						</div>
					</div>
					<div class="mail-options">
						<div class="mail-opt-info">
							<p>{{$t("Public_content")}}</p>
							<div class="help-popup"><span class="dot" tooltip v-bind:title="$t('popup.h1')">?</span></div>
						</div>
						<div class="mail-checkbox-cont"><span role="checkbox" aria-checked="true" id="content_type" class="mail-input"></span></div>
					</div>
					<div class="mail-options">
						<div class="mail-opt-info">
							<p>{{$t("Show_replies")}}</p>
							<div class="help-popup"><span class="dot" tooltip v-bind:title="$t('popup.h2')">?</span></div>
						</div>
						<div class="mail-checkbox-cont"><span class="mail-input" role="checkbox" aria-checked="true" id="replies_type"></span></div>
					</div>
					<!--4.Mail Options-->
					<div class="mail-options">
						<div class="create-button-container send-cont"><button id="send_button" class="create-button">{{$t("buttons.send")}}</button></div>
					</div>
				</div><!--mail-options-cont-->
				<div class="new-mail-recipients-cont"><!--new-mail-recipients-cont-->
					<!--1.recipients-->
					<div style="height:40px;">
						<div class="new-mail-recipient-info">
							<div class="new-mail-info-left"><p id="rec-info">{{$t("recipients")}}</p></div>
							<div class="new-mail-info-right">
								<div class="help-popup"><span class="dot" tooltip v-bind:title="$t('popup.h3')">?</span></div>
								<div><p class="icon-post" id="member_point">100</p></div>
							</div>
						</div>
					</div>
					<!--2.recipients-->
					<div class="filter-button-cont">
						<div class="filter-button-in"><button id="last_filters">{{$t("buttons.last_filters")}}</button></div>
						<div class="filter-button-in"><button id="similar_filters">{{$t("buttons.similar_filters")}}</button></div>
					</div>
					<!--3.recipients-->
					<div class="new-mail-recipients">
						<div class="recipients-types-container">
							<div class="recipients">
								<div class="recipient-type">Meslek</div>
								<select name="reciver" class="recipient-name rec-select"><option>Select</option><option>Mühen.</option></select>
							</div>
							<div class="recipients">
								<div class="recipient-type">Cinsiyet</div>
								<select name="reciver" class="recipient-name rec-select"><option>Select</option></select>
							</div>
							<div class="recipients">
								<div class="recipient-type">Yaş</div>
								<select name="reciver" class="recipient-name rec-select"><option>Select</option></select>
							</div>
						</div><!--recipients-types-container-->
					</div><!--new-mail-recipients-->
				</div><!--new-mail-recipients-cont-->
				<div id="scroll" class="new-mail-message-cont"><!--new-mail-message-cont-->
					<form id="message" action="" method="post">
						<div id="standalone-container" class="quill-editor">
							<div id="tl-cp"></div>
							<div id="toolbar-container">
								<span class="ql-formats">
									<button type="button" class="icon-iconmonstr-undo" id="undo" tooltip v-bind:title="$t('tooltip.undo')"></button>
									<button type="button" class="icon-iconmonstr-redo" id="redo" tooltip v-bind:title="$t('tooltip.redo')"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-bold" tooltip v-bind:title="$t('tooltip.bold')"></button>
									<button class="ql-italic" tooltip v-bind:title="$t('tooltip.italic')"></button>
									<button class="ql-underline" tooltip v-bind:title="$t('tooltip.underline')"></button>
									<button class="ql-strike" tooltip vbind-title="$t('tooltip.strike')"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-link" tooltip v-bind:title="$t('tooltip.link')"></button>
									<button class="ql-image" tooltip v-bind:title="$t('tooltip.image')"></button>
									<button class="ql-blockquote" tooltip v-bind:title="$t('tooltip.blockquote')"></button>
									<button class="ql-code-block" tooltip v-bind:title="$t('tooltip.code')"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-color" tooltip v-bind:title="$t('tooltip.color')"></select>
									<select class="ql-background" tooltip v-bind:title="$t('tooltip.background')"></select>
								</span>
								<span class="ql-formats">
									<button class="ql-header" value="1" tooltip v-bind:title="$t('tooltip.h1')"></button>
									<button class="ql-header" value="2" tooltip v-bind:title="$t('tooltip.h2')"></button>
									<button class="ql-header" value="3" tooltip v-bind:title="$t('tooltip.h3')"></button>
									<button class="ql-header" value="4" tooltip v-bind:title="$t('tooltip.h4')"></button>
									<button class="ql-header" value="5" tooltip v-bind:title="$t('tooltip.h5')"></button>
									<button class="ql-header" value="6" tooltip v-bind:title="$t('tooltip.h6')"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-font" tooltip v-bind:title="$t('tooltip.font')">
										<option value="times-new-roman" selected>Times New Roman</option>
										<option value="arial">Arial</option>
										<option value="arial-black">Arial Black</option>
										<option value="nunito-regular">Nunito Reg.</option>
										<option value="nunito-bold">Nunito Bold</option>
										<option value="poppins-regular">Poppins Reg.</option>
										<option value="poppins-bold">Poppins Bold</option>
									</select>
									<select class="ql-size" tooltip v-bind:title="$t('tooltip.size')"></select>
								</span>
								<span class="ql-formats">
									<button class="ql-emoji" tooltip v-bind:title="$t('tooltip.emoji')"></button>
									<button class="ql-list" value="ordered" tooltip v-bind:title="$t('tooltip.list_order')"></button>
									<button class="ql-list" value="bullet" tooltip v-bind:title="$t('tooltip.list_unorder')"></button>
									<button class="ql-indent" value="-1" tooltip v-bind:title="$t('tooltip.indent_l')"></button>
									<button class="ql-indent" value="+1" tooltip v-bind:title="$t('tooltip.indent_m')"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-direction" value="rtl" tooltip v-bind:title="$t('tooltip.direct')"></button>
									<select class="ql-align" tooltip v-bind:title="$t('tooltip.align')"></select>
									<button class="ql-clean" tooltip v-bind:title="$t('tooltip.clean')"></button>
									<button class="ql-script" value="sub" tooltip v-bind:title="$t('tooltip.script_sub')"></button>
									<button class="ql-script" value="super" tooltip v-bind:title="$t('tooltip.script_sup')"></button>
									<button type="button" class="icon-fullscreen" id="fullscr" aria-label="false" tooltip v-bind:title="$t('tooltip.full')"></button>
								</span>
							</div>
							<div id='edit1'></div>
							<div id='edit2'></div>
						</div>
					</form>
				</div><!--new-mail-message-cont-->
			</div>
		</div>
	</div>
</div>
</div>
<!--===========================================================================-->
<script src="dist/modules/quill.min.js"></script>
<!--===========================================================================-->
<script src="dist/modules/image-resize.min.js"></script>
<!--===========================================================================-->
<script src="dist/quill-emoji-master/dist/quill-emoji.js"></script>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/app-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
