<!doctype html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - Step 3</title>
</head>
<body>
<div id="app" v-cloak>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container"><div><button class="back-button icon-angel-left-thin">{{$t("buttons.back")}}</button></div></div>
		<div class="steps-container">
        	<div class="steps-inner">
    			<img class="medium" src="fonts/step1.svg"/>
        		<img class="medium" src="fonts/step2.svg"/>
        		<img class="medium steps-border" src="fonts/step3.svg"/>
       			<img class="medium" src="fonts/step4.svg"/>
        		<img class="medium" src="fonts/eco-logo.svg"/>
            </div>
		</div>
        <div class="next-container">
     		<div><p class="icon-post" id=member_point>100</p></div>
        	<div><button class="next-button">{{$t("buttons.next")}}</button></div>
    	</div>
	</div>
</div>
<div class="middle">
	<div class="half-left-container">
		<div class="half-left-inner">
        	<div>
    			<h1 style="color:#BF2884;">{{$t("steps.step_3")}}</h1>
        		<p>{{$t("steps_info.info1")}}</p>
				<p><b>{{$t("steps_info.info2")}}</b></p>
				<p>{{$t("steps_info.info3")}}</p>
           </div>
    	</div>
    </div>
    <div class="half-right-container">
    	<div class="half-right-inner">
    		<div class="scroll-container" aria-labelledby="step-scroll">
            	<table id="step3-table" style="margin:auto;">
            		<tr><td>
                		<div class="flex-order">
    						<div class="info-container">
                				<div><p>Job</p></div>
                    			<div><p class="token">20<span class="icon-post"></span></p></div>
               		 		</div>
            				<div class="select-cont"><select class="step-select" name="year"><option>Select</option></select></div>
         				</div>
                	</td></tr>
                	<tr><td>
                		<div class="flex-order">
    						<div class="info-container">
								<div><p>Interest</p></div>
								<div><p class="token">20<span class="icon-post"></span></p></div>
               				</div>
           					<div class="select-cont"><select class="step-select" name="interest"><option>Select</option></select></div>
         				</div>
                	</td></tr>
                	<tr><td>
                		<div class="flex-order">
    						<div class="info-container">
                				<div><p>Profession</p></div>
                				<div><p class="token">20<span class="icon-post"></span></p></div>
                			</div>
           					<div class="select-cont"><select class="step-select" name="profession"><option>Select</option></select></div>
         				</div>
                	</td></tr>
            	</table>
            </div>
    	</div>
  	</div>
</div>
</div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</div>
</body>
</html>
