<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail - Step 1</title>
</head>
<body>
<div id="app" v-cloak>
<div class="topnav" role="banner">
	<div class="topnav-inner">
		<div class="back-container"><div><button class="back-button icon-angel-left-thin">{{$t("buttons.back")}}</button></div></div>
		<div class="steps-container">
        	<div class="steps-inner">
    			<img class="medium steps-border" src="fonts/step1.svg"/>
        		<img class="medium" src="fonts/step2.svg"/>
        		<img class="medium" src="fonts/step3.svg"/>
       			<img class="medium" src="fonts/step4.svg"/>
        		<img class="medium" src="fonts/eco-logo.svg"/>
            </div>
		</div>
        <div class="next-container">
     		<div><p class="icon-post" id=member_point>100</p></div>
        	<div><button class="next-button">{{$t("buttons.next")}}</button></div>
    	</div>
	</div>
</div>
<div class="middle">
	<div class="half-left-container">
		<div class="half-left-inner">
        	<div>
				<h1 style="color:#187ADF;">{{$t("steps.step_1")}}</h1>
				<p>{{$t("steps_info.info1")}}</p>
				<p><b>{{$t("steps_info.info2")}}</b></p>
				<p>{{$t("steps_info.info3")}}</p>
            </div>
    	</div>
    </div> 
    <div class="half-right-container">
    	<div class="half-right-inner">
        	<div class="scroll-container" aria-labelledby="step-scroll">
    		<table id="step1-table" style="margin:auto;">
            	<tr><td>
                	<div class="flex-order">
    					<div class="info-container">
                			<div><p>Year of birth</p></div>
                    		<div><p class="token">20<span class="icon-post"></span></p></div>
               		 	</div>
            			<div class="select-cont"><select class="step-select" name="year"><option>Select</option><option>Select-2</option></select></div>
         			</div>
                </td></tr>
                <tr><td>
                	<div class="flex-order">
    					<div class="info-container">
							<div><p>Horoscope sign</p></div>
							<div><p class="token">20<span class="icon-post"></span></p></div>
               			</div>
           				<div class="select-cont"><select class="step-select" name="sign"><option>Select</option></select></div>
         			</div>
                </td></tr>
                <tr><td>
                	<div class="flex-order">
    					<div class="info-container">
                			<div><p>Gender</p></div>
                			<div><p class="token">20<span class="icon-post"></span></p></div>
                		</div>
           				<div class="select-cont"><select class="step-select" name="gender"><option>Select</option></select></div>
         			</div>
                </td></tr>
                <tr><td>
                	<div class="flex-order">
    					<div class="info-container">
                			<div><p>Country</p></div>
                    		<div><p class="token">20<span class="icon-post"></span></p></div>
                		</div>
            			<div class="select-cont"><select class="step-select" name="country"><option>Select</option></select></div>
         			</div>
               	</td></tr>
                <tr><td>
                	<div class="flex-order">
    					<div class="info-container">
                			<div><p>City</p></div>
                    		<div><p class="token">20<span class="icon-post"></span></p></div>
                		</div>
            			<div class="select-cont"><select class="step-select" name="city"><option>Select</option></select></div>
         			</div>
                </td></tr>
            </table>
            </div>
		</div>
	</div>
</div>
</div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
