<!DOCTYPE html>
<html>
<head>
<!--===========================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--===========================================================================-->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<!--===========================================================================-->
<link rel="icon" type="image/png" href="em-icon.png"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/fonts.min.css"/>
<!--===========================================================================-->
<link rel="stylesheet" type="text/css" href="dist/css/StyleSheet.min.css"/>
<!--===========================================================================-->
<title>Ecosystem Mail-Welcome</title>
</head>
<body>
<div id="app" v-cloak>
	<div class="welcome-topnav">
		<h1>{{$t("welcome")}}</h1>
		<p class="topnav-text">{{$t("welcome_text")}}</p>
	</div>
	<div class="welcome-detail-scheme">
    	<div class="detail-scheme-inner">
        	<div class="schemeinner big">
            	<img src="fonts/step1.svg"/><p style="color:#187ADF;">{{$t("steps.step_1")}}</p>
            </div>
            <span><img src="next.png" /></span>
            <div class="schemeinner big">
            	<img src="fonts/step2.svg"/><p style="color:#FF9C00;">{{$t("steps.step_2")}}</p>
            </div>
            <span><img src="next.png" /></span>
        	<div class="schemeinner big">
            	<img src="fonts/step3.svg"/><p style="color:#BF2884;">{{$t("steps.step_3")}}</p>
            </div>
            <span><img src="next.png" /></span>
            <div class="schemeinner big">
            	<img src="fonts/step4.svg"/><p style="color:#28BF8F;">{{$t("steps.step_4")}}</p>
            </div>
            <span><img src="next.png" /></span>
            <div class="schemeinner big">
            	<img src="fonts/eco-logo.svg"/><p style="color:#525252;">{{$t("steps.step_5")}}</p>
            </div>
        </div>
	</div>
    <div class="welcome-button-form">
    	<div><button id="start" class="welcome-button">{{$t("buttons.start_button")}}</button></div>
        <img id="member_picture" src="Eco-icon.png" />
        <p id="member_name">Name</p>
        <p id="member_connect_type">{{$t("connect.connect_linkedin")}}</p>
       	<div><button id="logout" class="menu-button">{{$t("buttons.logout_button")}}</button></div>
    </div>
<div>
<!--===========================================================================-->
<script src="dist/lang-bundle.js"></script>
<!--===========================================================================-->
<script src="dist/eco-bundle.js"></script>
<!--===========================================================================-->
</body>
</html>
