@charset "utf-8";
@charset "UTF-8";
html{height:100%; width:100%; margin:0; box-sizing:border-box; -webkit-text-size-adjust: 100%;}
body{height:100%; width:100%; margin:0; box-sizing:border-box;}
button{cursor:pointer;}
a{color:#565656; text-decoration: none;}
*{margin: 0px; padding: 0px; box-sizing: border-box;}
*::before,*::after {box-sizing: inherit;}

/*MAIN*/
.t-sc{overflow:auto; width:100%;}

/*TITLE*/
.t-con{position:relative; background-color:#4a86e8; user-select:none; -webkit-user-select:none; display:inline-block;}
.t-1-in{display:flex; flex-wrap:nowrap; -webkit-flex-wrap:nowrap; justify-content:flex-start; align-items:center; }
.t-1{width:250px; padding:15px 20px; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-transform:uppercase; text-align:start; color:white;}
.t-2-in{padding:10px 0px;}
#quest-cat{background-color:#674ea7; color:white; padding: 5px;}

/*TABLE*/
.ta-con{position:relative;}
.tr-1{width:100%; height:30px;}
.tr-inl{display:inline-flex;}/*scroll için*/
.tr-2{background-color:#e8f0fe;}
.td-1{width:250px; padding:6px 20px; text-align:start; font-family:Arial; font-size:15px; overflow:hidden; white-space:nowrap;text-overflow: ellipsis;}
.td-2{white-space:normal; text-overflow:unset;}
.l-ed{font-family:Arial; font-weight:bold; color:black; text-decoration:underline; padding-right:5px;}
.bt-a{border: 1px solid white;background-color: #ff9900; padding: 5px; color: white;}

/**/
.t-wd35{min-width:350px;}
